<div class="container">
    <div class="row banner">
        <div class="col-md-12">
            <img src="/assets/pigsbanner.jpg" alt="pigs banner" />
        </div>
    </div>

    <div class="row aboutus">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>
                Letters4Change is seeking to eliminate the institutional abuse and suffering that animals are subjected to in a multitude of industries, through lobbying for improved laws, regulations, and ethical business practices. We are animal advocates and activists who understand that even as hearts and minds in our society evolve to desire a more compassionate world with less exploitation of animals, that the forces of profit driven business will not change unless they are mandated to by laws, regulations, and policy.
            </p>
            <br>
            <p>
                We are frustrated and angry that we live in a society that turns a blind eye to such horrific suffering and abuse inflicted upon animals as we do in the animal agriculture, clothing, furniture, entertainment and medical research industries. In the past 30 years we have seen thousands of undercover videos documenting these unspeakable practices, yet little changes. We are here to demand that our elected officials and industry leaders take a stand against this culture of violence.
            </p>
        </div>
        <div class="col-md-6">
            <img src="/assets/14115491957_2b2cef787e_o.jpg" alt="pigs in cage" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Our Mission Statement</h2>
            <p>
                Our mission is to advocate for legislation, policies, regulations, and public awareness toward the goal of ending non-human animal suffering and exploitation.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>Vision Statement</h2>
            <p>
                We carry out the work of our mission so as to create the vision of a world free of institutionalized animal exploitation in the production of food, clothing, scientific experimentation, and entertainment. We envision a world free of violence and/or psychological abuse perpetrated upon animals.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>How We Do It</h2>
            <p>
                Letters4Animals informs, educates, and lobbies elected officials through letter writing campaigns to enact and support legislation, policies and regulations that will work toward ending non-human animal suffering and exploitation. This includes promoting the abolition of industrialized animal agriculture, the single greatest cause of animal suffering and wholesale animal slaughter on our planet.
            </p>
            <br>
            <p>
                Letters4Animals informs, educates and influences policymakers, businesses, social and cultural leaders, and the population at large through letter writing campaigns on issues pertaining to non-human animal suffering and exploitation.
            </p>
            <br>
            <p>
                Letters4Animals raises societal awareness by informing and educating through letter writing campaigns and other forms of outreach to influence public opinion so as to create a cultural consciousness that helps achieve our mission.
            </p>
            <br>
            <p>
                Letters4Animals believes in achieving our mission only through non-violent methods.
            </p>
        </div>
    </div>

</div>
