<div id="admin_container" ng-controller='adminController' ng-show='loggedIn'>

<!-- Left Admin panel -->
<div class="col-sm-12 admin_container">
  <h3>Admin Panel</h3>
  <!-- {{users}} -->
    <div class="row">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a showtab="" href="#causes" aria-controls="home" role="tab" data-toggle="tab">CAUSES</a></li>
                    <li role="presentation"><a showtab="" href="#users" aria-controls="profile" role="tab" data-toggle="tab">USERS</a></li>
                    <li role="presentation"><a showtab="" href="#letters" aria-controls="messages" role="tab" data-toggle="tab">LETTERS</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="causes">
                      <a href="#causeadmin"><button id="addcause" class="admin_buttons btn btn-info">Create New Cause</button></a>
                      <button class="btn btn-info" ng-click="enableAllCauses()">Enable All</button>
                      <button class="btn btn-info" ng-click="disableAllCauses()">Disable All</button>
                      <table class="table admintable">
                        <thead>
                          <th>Cause</th>
                          <th># of Users</th>
                          <th>Created</th>
                          <th>Enabled</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="cause in causes">
                            <td>{{cause.name}}</td>
                            <td>{{cause.supports}}</td>
                            <td>{{cause.createdAt}}</td>
                            <td><input type="checkbox" ng-click='toggleCause(cause)' ng-checked="{{cause.enabled}}"></td>
                            <td><button id="editcause">Edit</button></td>
                            <td><button id="deletecause">Delete</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="users">
                      <table class="table admintable">
                        <thead>
                          <th>Name</th>
                          <th>Email</th>
                          <th># Causes</th>
                          <th>State</th>
                          <th>Text?</th>
                          <th>Email?</th>
                          <th># Logins</th>
                          <th>Delete</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="user in users | orderBy: id">
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.supports}}</td>
                            <td>{{user.state}}</td>
                            <td>{{user.phone_notification}}</td>
                            <td>{{user.email_notification}}</td>
                            <td>{{user.login_count}}</td>
                            <td><button id="deletecause" ng-click='delUser(user)'>Delete</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="letters">
                      <a href="#letteradmin"><button id="addletter" class="admin_buttons btn btn-info">Create New Letter</button></a>
                      <table class="table admintable">
                        <thead>
                          <th>Letter Name</th>
                          <th>Cause</th>
                          <th>Last updated</th>
                          <th>Edit</th>
                          <th>Disable</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="letter in letters">
                            <td>{{letter.name}}</td>
                            <td>{{letter.cause}}</td>
                            <td>{{letter.updatedAt}}</td>
                            <td><button id="editcause">Edit</button></td>
                            <td><button id="deletecause">Disable</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Right analytics panel -->
  <div class="col-sm-12 analytics">
    <h3>Site Stats</h3><a href="https://accounts.google.com/servicelogin?service=analytics"><button class="btn btn-primary"> To Google Analytics</button></a>
    <div class="stats">
      <div class="stat-graph-top">
      </div>
      <div class="stat-graph-top">
      </div>
      <div class="stat-graph-bottom">
      </div>
      <div class="stat-graph-bottom">
      </div>
    </div>
  </div

</div>
