<div id="main" ng-controller="AddCauseController">
    <header id="addcauseheader">
        <a href="#administrator">
            <button class="btn btn-primary analytics">Back to Admin Panel</button>
        </a>
        <h2 class="not_centered">Create A New Cause</h2>
    </header>

    <!-- Add New Cause Page from the Admin Panel- Uses the singleCauseController -->
    <form name="causeadmin" class="letter_background" method="post"  ng-model="cause">
        <h3 class="text-center">Cause Information</h3>
        <label>Cause Name</label><br><input type="text" name="causename" ng-model="cause.name"><br><br>
        <label>Description</label><br><textarea name="description" class="admintext" ng-model="cause.description"></textarea><br>

        <h3 class="text-center">Recipient Information</h3>
        <div id="Recipients">

            <h5 class="text-center">Please select either a generic position or a fixed recipient below</h5>

            <!-- Cause Recipient by position options -->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 well">

                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" name="cause_fixed" id="cause_non_fixed" checked ng-click="cause.fixed = false">
                            Generic Position
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="cause_fixed" id="cause_fixed"  ng-click="cause.fixed = true">
                            Fixed Recipient
                        </label>
                    </div>

                    <div ng-if="!cause.fixed" class="halfsection">
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="President of the United States">
                                President of the United States
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="Vice-President of the United States">
                                Vice-President of the United States
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="United States Senate">
                                United States Senate
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="United States House of Representatives">
                                United States House of Representatives
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="Governor">
                                Governor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="Lieutenant Governor">
                                Lieutenant Governor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="State Senate">
                                State Senate
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="State Assembly">
                                State Assembly
                            </label>
                        </div>
                    </div>

                    <div ng-if="cause.fixed" id="fixed_recipient" class=" form-horizontal">

                        <div class="form-group">
                            <label for="rep_fixed_name" class="col-sm-4 control-label">Name of Recipient</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_name" ng-model="cause.fixed_name" id="rep_fixed_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rep_rep_level" class="col-sm-4 control-label">Position</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_position" ng-model="cause.rep_level" id="rep_rep_level">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rep_fixed_address" class="col-sm-4 control-label">Street Address</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_address" ng-model="cause.fixed_address" id="rep_fixed_address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rep_fixed_city" class="col-sm-4 control-label">City</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_city" ng-model="cause.fixed_city" id="rep_fixed_city">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rep_state" class="col-sm-4 control-label">State</label>
                            <div class="col-sm-4">
                                <select id="statecauseadd" name="fixed_state" class="form-control" ng-options='state for state in states' ng-model='cause.fixed_state'>
                                    <option value='' selected disabled>Choose a State</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="rep_fixed_zipcode" class="col-sm-4 control-label">Zipcode</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_zipcode" ng-model="cause.fixed_zipcode" id="rep_fixed_zipcode">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <br>

        <div class="letter content">
            <h3 class="text-center">Letter Content</h3>

            <!-- TinyMce is the RichText Editor -->
            <textarea ui-tinymce="tinymceOptions" name="string" class="lettertext" ng-model="cause.letter_body" required></textarea>
        </div>

        <div class="letter content">
            <h3 class="text-center">Footnotes</h3>
            <textarea name="string" class="footnotetext" ng-model="cause.letter_footnote"></textarea>
        </div>

        <div class="notification_content">
            <h3 class="text-center">Notification Settings</h3>
            <h5 class="text-center">Text Blurb</h5>
            <textarea name="string" class="footnotetext" ng-model="cause.text_content"></textarea>
        </div>

        <div class="notification_content">
            <h3 class="text-center">Email Notification Content</h3>
            <textarea name="string" class="footnotetext" ng-model="cause.email_content"></textarea>
        </div><br><br>

        <label class="text-left"><input type="checkbox" ng-model="cause.enabled"> Cause Enabled <br><span class="no_bold">(Note: <strong>If</strong> enabled during creation, email/text notifications will be sent)</span></label>

        <input type="submit" ng-click="addCause(cause)" class="btn btn-success analytics" id="new_cause" name="new_cause" value="Create New Cause"></input><br><br><br>
    </form>

</div>
