<div id="main">
    <header id="addcauseheader">
        <a href="#administrator"><button class="btn btn-primary analytics">Back to Admin Panel</button></a>
        <h2 class="not_centered">Edit a Cause</h2>
    </header>

    <!--Edit Cause Page from Admin Panel Uses the singleCause Controller -->
    <form name="causeadmin" class="letter_background" method="post" ng-controller="singleCauseController" ng-model="cause">
        <label>Cause Name</label><br>
        <input type="text" name="causename" ng-model="cause.name"><br><br>
        <label>Description</label><br>
        <textarea name="description" class="admintext" ng-model="cause.description"></textarea><br>

        <h4>Enable Cause?</h4>
        <label> Yes: </label>
        <input type="checkbox" name="enabled" ng-click='toggleCause(cause)' ng-checked="cause.enabled"><br>

        <div id="Recipients">
            <h4>Recipient Information</h4>
            <p>Please select either a generic position OR a fixed recipient below</p><br>
            <label>Generic Position:</label><input type="checkbox" ng-click='toggleNonFixed()' ng-model="cause.non_fixed" ng-checked="cause.non_fixed"></td>
            <label>Specific Person:</label><input type="checkbox" ng-click='toggleFixed(recipient)' ng-model="cause.fixed" ng-checked="cause.fixed"></td><br>

        <div ng-if="cause.non_fixed && !cause.fixed" class="halfsection">
                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="President of the United States">
                <label> President of the United States</label><br>
                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="Vice-President of the United States">
                <label> Vice-President of the United States</label><br>
                <input type="radio" name="rep_level" ng-model="cause.rep_level" value="United States Senate">
                <label> United States Senate</label><br><input type="radio" name="rep_level" ng-model="cause.rep_level" value="United States House of Representatives">
                <label> United States House of Representatives</label><br><input type="radio" name="rep_level" ng-model="cause.rep_level" value="Governor">
                <label> Governor</label><br><input type="radio" name="rep_level" ng-model="cause.rep_level" value="Lieutenant Governor">
                <label> Lieutenant Governor</label><br><input type="radio" name="rep_level" ng-model="cause.rep_level" value="State Senate">
                <label> State Senate</label><br><input type="radio" name="rep_level" ng-model="cause.rep_level" value="State Assembly">
                <label> State Assembly (House of Representatives)</label><br>
        </div>

        <div ng-if="cause.fixed && !cause.non_fixed" id="fixed_recipient" class="halfsection">
                <label>Name of Recipient</label><br><input type="text" name="fixed_name" ng-model="cause.fixed_name"><br>
                <label>Position</label><br><input type="text" name="fixed_position" ng-model="cause.rep_level"><br>
                <label>Street Address</label><br><input type="text" name="fixed_address" ng-model="cause.fixed_address"><br>
                <label>City</label><br><input type="text" name="fixed_city" ng-model="cause.fixed_city"><br>
                <label>State</label><br><input type="text" name="fixed_state" ng-model="cause.fixed_state"><br>
                <label>Zipcode</label><br><input type="text" name="fixed_zipcode" ng-model="cause.fixed_zipcode"><br>
            </div>
        </div><br>

        <div class="letter content">
            <h4>Letter Content</h4>
            <!-- TinyMCE is the Richtext Editor -->
            <textarea name="letter" ui-tinymce="tinymceOptions" name="letter" class="lettertext" ng-model="cause.letter_body"></textarea>
        </div>

        <div class="letter content">
            <h4>Footnotes</h4>
            <textarea name="string" class="footnotetext" ng-model="cause.letter_footnote"></textarea>
        </div>

        <h4>Notification Settings</h4>
        <div class="notification_content">
            <h5>Text Blurb</h5>
            <textarea name="string" class="footnotetext" ng-model="cause.text_blurb"></textarea>
        </div>

        <div class="notification_content">
            <h5>Email Notification Content </h5>
            <textarea name="string" class="footnotetext" ng-model="cause.email_blurb"></textarea>
        </div>

        <input type="submit" ng-click="updateCause(cause)" class="btn btn-success analytics" id="update_cause" name="update_cause" value="Update Cause"></input><br><br>
    </form>

</div>
