<div class="container">
    <div class="row banner">
        <img src="/assets/turkyebanner.jpg" alt="turkey banner" />
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1>Donate</h1>
            <p>
                A orci duis ipsum nisl mattis lectus. Lacus lacus leo pellentesque a arcu gravida, luctus lectus vitae nam tristique laoreet, est vel enim consequat varius metus maecenas. Neque arcu, cum porta sed commodo ipsum nullam mattis. Et ligula ac et sem dui,
                iusto tincidunt justo in quam eu aliquet. Vehicula quis vestibulum suspendisse felis, ullamcorper netus vulputate suspendisse, diam fringilla eu non erat, neque risus quis eget quisque.
            </p>
        </div>
    </div>

</div>
