<div class="container">
    <div class="row banner">
        <div class="col-md-12">
            <img src="/assets/hammerbanner.jpg" alt="hammer banner" />
        </div>
    </div>
</div>
<section class="pink">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Get the Facts: Current Issues in Animal Rights</h3>
                <p>
                    Varius eros sollicitudin dis ac, elit pellentesque ipsum libero pede, consequatur at, wisi elit ante dicta commodo vivamus. Quis porttitor sit nisl penatibus vel, lorem metus, magna sociis lacinia fusce vitae velit, porttitor at nullam etiam purus vitae, ut mattis erat augue aliquet et sagittis.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="gray">
    <div class="container">
        <div class="row coursel">
            <div class="col-md-6 slider">
                <div id="issues" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#issues" data-slide-to="0" class="active"></li>
                        <li data-target="#issues" data-slide-to="1"></li>
                        <li data-target="#issues" data-slide-to="2"></li>
                        <li data-target="#issues" data-slide-to="3"></li>
                        <li data-target="#issues" data-slide-to="4"></li>
                        <li data-target="#issues" data-slide-to="5"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="/assets/14116615049_42ef0c4599_o.png" alt="pigs">
                        </div>
                        <div class="item">
                            <img src="/assets/14302710224_80c68c34b4_o.png" alt="pigs">
                        </div>
                        <div class="item">
                            <img src="/assets/5659212746_da469f87a3_o.png" alt="birds">
                        </div>
                        <div class="item">
                            <img src="/assets/14116615049_42ef0c4599_o.png" alt="birds">
                        </div>
                        <div class="item">
                            <img src="/assets/5659211914_20d43c1c18_o.png" alt="birds">
                        </div>
                        <div class="item">
                            <img src="/assets/14298364901_4442d1d616_o.png" alt="birds">
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#issues" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#issues" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="pull-center">
                    <a href="#writealetter" class="btn btn-primary btn-lg">Take Action Now!</a>
                </div>
            </div> <!-- div 6 -->

            <div class="col-md-5 col-md-offset-1">
                <h3>Animal Cruelty and Factory Farming</h3>
                <p>
                    Animals raised for food in the United States endure unspeakable suffering. The days of the family farm are over, and more than 97% of the meat and dairy Americans consume comes from factory farms.
                </p>
                <br>
                <p>
                    Factory farming is the term used to describe the industrial process of breeding, raising, and slaughtering animals for human consumption on a mass-production scale, where profit and efficiency drive the industry practices and there is little to no regard for the welfare of the animal. Animals in the factory farming system are treated as commodities being exploited for profit with few laws to protect them.
                </p>
                <br>
                <p>
                    Many people don’t realize just how brutal and cruel the animal agriculture industries are, as those industries spend millions of dollars to hide the reality of what happens inside their walls. They also spend huge amounts of money on advertising campaigns to deceive the public about how the industry treats its animals.
                </p>
                <br>
                <p>
                    Factory farms pack animals into spaces so tight that most can barely move. Many have no access to the outdoors, spending their lives on open warehouse floors, or in cages or pens without the room to engage in their natural behaviors. These confined animals experience severe physical and mental distress.
                </p>
                <br>
                <p>
                    Here are some of the realities of today’s animal agriculture industries:
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a showtab="" href="#CowsRaisedForBeef" aria-controls="home" role="tab" data-toggle="tab">Cows Raised For Beef</a></li>
                        <li role="presentation"><a showtab="" href="#DairyCows" aria-controls="profile" role="tab" data-toggle="tab">Dairy Cows</a></li>
                        <li role="presentation"><a showtab="" href="#ChickenRaisedforMeats" aria-controls="messages" role="tab" data-toggle="tab">Chicken Raised for Meat</a></li>
                        <li role="presentation"><a showtab="" href="#ChickenRaisedforEggs" aria-controls="settings" role="tab" data-toggle="tab">Chicken Raised for Eggs</a></li>
                        <li role="presentation"><a showtab="" href="#Pigs" aria-controls="profile" role="tab" data-toggle="tab">Pigs</a></li>
                        <li role="presentation"><a showtab="" href="#FeelgoodLabels" aria-controls="messages" role="tab" data-toggle="tab">Feel good Labels</a></li>
                        <li role="presentation"><a showtab="" href="#TheAnimalWelfareAct" aria-controls="settings" role="tab" data-toggle="tab">The Animal Welfare Act</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="CowsRaisedForBeef">
                            <p>
                                In the first six months of a newborn calf’s life, they will almost always have one or more extremely painful procedures performed on them without anesthesia: hot-iron branding, castration, dehorning, and tail-docking. The pain caused by these procedures can last for months as they heal. <br><br>
                                Between the ages of six months and one year, beef cows are sent to live their last few months in feedlots with hundreds or even thousands of others. Without pasture and often without shelter, the cows must stand in their own waste and sometimes in mud and ice. To increase their weight, they are fed an unnatural grain diet that is very hard on their bodies, causing illness, pain, and sometimes death.<br><br>
                                When the cows are transported for slaughter, they are generally crammed onto trucks where they might stand for several days without any water, food, or the ability to move or rest. The cattle are transported this way regardless of the weather, so it is not uncommon for cows to collapse from the heat or even freeze to the side of the trucks in the bitter cold.<br><br>
                                When the truck finally arrives at the slaughterhouse, some of the cows are too sick or injured to walk. They call these cows “downers” and will often tie ropes or chains around their legs to drag them off the truck. The cows that can walk on their own are often beaten or prodded with an electric shock to move them off the truck.<br><br>
                                After they are unloaded, cows are prodded into the slaughterhouse and shot in the head with a captive-bolt gun meant to stun them unconscious prior to being hoisted up by their back legs in preparation for slaughter by having their throats cut. Frequently the “stunning” is not successful, and as a result, many cows are fully conscious and struggling while their leg bones are being broken as they are hung upside down, and worse yet, they are still conscious as their throats are cut.<br>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="DairyCows">
                            <p>
                                Virtually all dairy calves are stolen from their mothers within hours of birth in order to maximize profit. The mother cow can bellow for days, traumatized by the loss of her calf.<br>
                                Many male calves are slaughtered immediately, while others are sold off to be raised for veal, kept in tiny individual stalls and chained by the neck on a 2 or 3 foot tether for 18 to 20 weeks before they are slaughtered. The veal industry would not exist without the dairy industry.<br><br>
                                The female calves typically spend the first 2 to 3 months of life confined in lonely hutches deprived of the mother and the milk they instinctively yearn for. <br><br>
                                Over 90% of U.S. dairy cows are confined primarily indoors, with more than 60% tethered by the neck inside barren stalls, unable to perform the most basic behaviors essential to their well-being. Some spend their entire lives standing on concrete floors; others are confined to massive crowded lots, where they are forced to live amid their own waste.<br><br>
                                To have dairy cows produce a maximum yield of milk, they are artificially and forcibly inseminated year after year. Pure and simple, this is rape.<br><br>
                                Through genetic manipulation and use of hormones and antibiotics, cows in the dairy industry produce anywhere from 3 to 10 times more milk than nature intended them to. Carrying this excessive quantity of milk causes pain for the cows and robs them of calcium and other nutrients. It also requires that the cows be milked more often, which in turn increases the risk of the painful and potentially fatal udder infection called mastitis. <br><br>
                                Trapped in a cycle of forced impregnation, perpetual lactation, and near constant confinement, dairy cows’ overworked bodies begin producing less milk at 4 to 5 years of age, at which point they are sent to slaughter. Of the 9 million dairy cows in the United States, 3 million are slaughtered each year at only a fraction of their natural lifespan.<br>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ChickenRaisedforMeats">
                            <p>
                                About 8.5 billion chickens are killed for their meat every year.<br>
                                In an effort to maximize profits, on today’s factory farms, chickens are bred to be much larger than nature ever intended. They grow to be so heavy that their bones cannot support their weight. It is constantly painful for the chickens to stand, and their legs often break. <br><br>
                                The chickens are raised in such stressful and overcrowded conditions that they become aggressive. To prevent them from killing each other, their beaks and toes are cut off without anesthesia. Some cannot eat after being “debeaked” and starve to death. This beak amputation causes the bird severe pain that can last for weeks.<br><br>
                                They are forced to live in large sheds sometimes containing as many as 20,000 chickens, crammed together with little space to move. They live in their own waste, causing high ammonia levels that result in painful irritation and burning in their eyes, throats, and skin.<br>
                            </p>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="ChickenRaisedforEggs">
                            <p>
                                Chicks bred for egg production are born in large incubators and will never see their mothers.<br><br>
                                Shortly after birth, male chicks, who cannot produce eggs, are simply killed by being ground up alive, suffocated by being tossed in large garbage bins, or gassed. More than 100 million male chicks are killed by the egg industry in the United States each year.<br><br>
                                As with chickens raised for meat, the female egg-laying chicks begin their tortured lives by having a portion of their beaks burned or sliced off without anesthesia. This “debeaking” causes the bird severe pain that can last for weeks. It is done so they won’t hurt or kill each other, as their behavior often turns aggressive due to the relentless stress of the intense confinement they face in battery cages.<br><br>
                                Annually, 300 million egg producing chickens are packed in small wire battery cages, usually with less than half a square foot of floor space per bird, stacked in rows in long windowless sheds. These rows of cages are often stacked on top of each other, which allows urine and feces to fall from the birds in the higher cages onto those below. Because of these terrible living conditions, millions of egg-laying hens die during production each year and are often left to rot in the same cages with living birds.<br><br>
                                When the hen’s egg production slows down after about 2 years, they are no longer profitable for factory farms, so they are sent to slaughter. By the time these “spent” hens are removed for low production, their skeletons are so fragile that many suffer broken bones during catching or transport.<br><br>
                                Both chickens raised for meat and those raised for eggs meet the same violent death at the slaughterhouse. While totally conscious, they are shackled and hung upside down, electrocuted or scalded to death, and their throats cut. The electrocution process is sometimes not effective, and those chickens end up having their throats cut while still conscious.<br>
                                All birds, including chickens raised for meat, egg-laying hens, turkeys, ducks, geese, and others are excluded from federal animal protection laws.
                            </p>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="pigs">
                            <p>
                                Mother pigs can spend their entire lives in a gestation crate, a metal cage that is so confining that she cannot even turn around. They are repeatedly impregnated until their bodies give out, at which time they are sent to slaughter. Their piglets are only allowed to nurse for 2 to 4 weeks, which is about a quarter of the time nature intended them to nurse. This is done so the mother can quickly be impregnated again. Many of the piglets who are weaned prematurely die of stress and disease.<br><br>
                                When the piglets are removed from their mother, they are subjected to painful mutilations: tail docking, teeth clipped with pliers, and castration, all without any anesthesia. They then placed in large windowless sheds without fresh air, sunlight, or outdoor access. Their waste piles up in these sheds, so they are living with high levels of ammonia resulting in painful irritation and burning in their eyes, throats, and skin. These extremely crowded, filthy sheds or pens are where the pig will spend the rest of its life until it is sent to be slaughtered.<br><br>
                                As with other farmed animals, pigs are packed into trucks with little room to move for the journey to the slaughterhouse, which can be anywhere from a few hours to a few days. They are provided no food or water during transport, and it is done in all extremes of weather. Many of these pigs will die of heat exhaustion during summer or arrive frozen to the inside of the transport truck in winter.<br><br>
                                Like cows, pigs are supposed to be stunned unconscious before slaughter, but it doesn’t always work, so some pigs are still conscious when they are dumped into scalding-hot water, which is intended to remove their hair and soften their skin.<br>
                            </p>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="FeelgoodLabels">
                            <p>
                                “Humane Meat” • “Organic” • “Free-Range” • “Cage-Free”
                                Don’t be fooled by products with any of these labels. While it is true that a “free-range” or “cage-free” hen may have more room to move, they are still generally raised in environments just as filthy and stressful as those raised without the “feel good” labels.<br><br>
                                Keep in mind these labels do not have any bearing on the horrible and mutilating procedures done to farmed animals without anesthesia, including branding, dehorning, tail-docking, castration, and debeaking. These labels also have no bearing on the horror these animals experience during transport to slaughter or the slaughter process.<br><br>
                                Don’t be fooled: “Humane Meat” and other feel-good labels are nothing more than marketing tools to deceive consumers into thinking that the animals were raised humanely. Nothing could be farther from the truth. There is no way to humanely kill an animal that does not want to die. <br>
                            </p>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="TheAnimalWelfareAct">
                            <p>

                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
