<div class="main_container">
    <div class="col-xs-6 left-letter">
            <img src="#" alt="imagetbd.png" />
    </div>

    <div class="col-xs-6 right-letter">
        <h3>Letter Writing <span class="matters">Matters</span></h3>
        <p>
          Advocating for animals and working toward eliminating the barbaric practices of animal exploitation in food,
          clothing, entertainment, and research requires relentless effort in multiple forms of activism.
          Change will not happen until our voices are heard—loud, clear, and over and over again.<br><br>

          Letter writing is an extremely effective form of activism, particularly in advocating for
          changes in laws and policy that can reduce the animal suffering and exploitation that is the current status quo.<br><br>

          Your elected officials are entrusted to be responsive to the needs of their constituents,
          but this can only happen if you let them know your feelings on important issues. Writing a personal letter
          is one of the best ways to do that. It is also a way of educating and informing your elected officials of
          important animal rights issues that might not have even been on their radar.<br><br>

          In today’s digital world, the ease of signing an online petition or sending an email to an elected official
          minimizes its impact. A personal letter sent through the mail will always be more effective
          in making your views known.<br><br>

          Letter writing is also a powerful means of influencing others in policy-making positions: CEOs, school boards,
          newspaper editors, civic leaders, and religious leaders, among others.<br><br>

          LETTERS4ANIMALS makes it simple for your voice to be heard with maximum impact.
          We have template letters on critical animal rights issues for you to personalize, print, and mail.<br><br>

          <a href="#writealetter">GET STARTED NOW</a>
        </p>
        <br>
      </div>
</div>
