<div id="main">
    <header id="addcauseheader">
        <a href="#administrator">
            <button class="btn btn-primary analytics">Back to Admin Panel</button>
        </a>
        <h2 class="not_centered">Review & Create a Donated Cause</h2>
    </header>

    <form name="causeadmin" class="letter_background" method="post" ng-controller="pendingCauseController" ng-model="cause">
        <label>Cause Name</label><br>
        <input type="text" name="causename" ng-model="pendingcause.name"></input><br><br>
        <label>Description</label><br><textarea name="description" class="admintext" ng-model="pendingcause.description"></textarea><br>

        <div id="Recipients">
            <h4>Recipient Information</h4>
            <p>Please select either a generic position OR a fixed recipient below</p><br>
            <label>Generic Position:</label><input type="checkbox" ng-click='toggleNonFixed()' ng-model="pendingcause.non_fixed" ng-checked="cause.non_fixed"></td>
            <label>Specific Person:</label><input type="checkbox" ng-click='toggleFixed(recipient)' ng-model="pendingcause.fixed" ng-checked="cause.fixed"></td><br>

        <div ng-if="pendingcause.non_fixed && !pendingcause.fixed" class="halfsection">
                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="President of the United States">
                <label> President of the United States</label><br>
                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="Vice-President of the United States">
                <label> Vice-President of the United States</label><br>
                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="United States Senate">
                <label> United States Senate</label><br><input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="United States House of Representatives">
                <label> United States House of Representatives</label><br><input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="Governor">
                <label> Governor</label><br><input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="Lieutenant Governor">
                <label> Lieutenant Governor</label><br><input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="State Senate">
                <label> State Senate</label><br><input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="State Assembly">
                <label> State Assembly (House of Representatives)</label><br>
        </div>

        <div ng-if="pendingcause.fixed && !pendingcause.non_fixed" id="fixed_recipient" class="halfsection">
                <label>Name of Recipient</label><br><input type="text" name="fixed_name" ng-model="pendingcause.fixed_name"><br>
                <label>Position</label><br><input type="text" name="fixed_position" ng-model="pendingcause.rep_level"><br>
                <label>Street Address</label><br><input type="text" name="fixed_address" ng-model="pendingcause.fixed_address"><br>
                <label>City</label><br><input type="text" name="fixed_city" ng-model="pendingcause.fixed_city"><br>
                <label>State</label><br>
                <select id="statecauseadd" name="fixed_state" class="col-sm-2 control-label" ng-options='state for state in states' ng-model='pendingcause.fixed_state'>
                    <option value='' selected disabled>Choose a State</option>
                </select><br>
                <label>Zipcode</label><br><input type="text" name="fixed_zipcode" ng-model="pendingcause.fixed_zipcode"><br>
            </div>
        </div><br>

        <div class="letter content">
            <h4>Letter Content</h4>
            <!-- Rich Text Editor is the tinymce class -->
            <textarea ui-tinymce="tinymceOptions" name="string" class="lettertext" ng-model="pendingcause.letter_body" required></textarea>
        </div>

        <div class="letter content">
            <h4>Footnotes</h4>
            <textarea name="string" class="footnotetext" ng-model="pendingcause.letter_footnote"></textarea>
        </div>

        <h4>Notification Settings</h4>
        <div class="notification_content">
            <h5>Text Blurb</h5>
            <textarea name="string" class="footnotetext" ng-model="pendingcause.text_content"></textarea>
        </div>

        <div class="notification_content">
            <h5>Email Notification Content </h5>
            <textarea name="string" class="footnotetext" ng-model="pendingcause.email_content"></textarea>
        </div>
        <br>

        <input type="submit" ng-click="addCause()" class="btn btn-success analytics" id="new_cause" name="new_cause" value="Create Cause"></input><br><br><br>
    </form>

</div>
