<div class="container">
    <div class="row banner">
        <div class="col-md-12">
            <img src="/assets/pigsbanner.jpg" alt="pigs banner" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Submit a Letter Template</h2>
            <div class="col-md-8 no_left_padding">
                Lorem ipsum dolor sit amet, sit eu ridiculus elit, ultricies et nascetur suscipit aliquam aliquam, venenatis neque felis id lacus. Massa quam mauris luctus felis, ante vestibulum, nec lobortis erat in donec, aliquet suspendisse neque felis id lacus. Massa quam mauris luctus felis, ante vestibulum, nec lobortis erat in donec, aliquet suspendisse neque felis id lacus. Massa quam mauris luctus felis, ante vestibulum, nec lobortis erat in donec, aliquet suspendisse.
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form>
                <textarea class="form-control"></textarea>
            </form>
        </div>
    </div>
</div>
