<!-- Uses the donateCauseController -->
<div id="main">
    <header id="addcauseheader">
        <h2>Volunteer a Letter</h2>
    </header>

    <form name="volunteercause" class="letter_background" method="post" ng-controller="donateCauseController" ng-model="pendingcause">
        <h3 class="text-center">Cause Information</h3>
        <label>Cause Name</label><br><input type="text" name="causename" ng-model="pendingcause.name"></input><br><br>
        <label>Description</label><br><textarea name="description" class="admintext" ng-model="pendingcause.description"></textarea><br>

        <div id="Recipients">
            <h3 class="text-center">Recipient Information</h3>
            <h5 class="text-center">Please select either a generic position or a fixed recipient below</h5>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 well">

                    <!-- selection for fixed or generic recipient -->
                    <div class="text-center">
                        <label class="radio-inline">
                            <input type="radio" name="cause_fixed" id="cause_non_fixed" checked ng-click="pendingcause.fixed = false">
                            Generic Position
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="cause_fixed" id="cause_fixed"  ng-click="pendingcause.fixed = true">
                            Fixed Recipient
                        </label>
                    </div>

                    <!-- not fixed -->
                    <div ng-if="!pendingcause.fixed" class="halfsection">
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="President of the United States">
                                President of the United States
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="Vice-President of the United States">
                                Vice-President of the United States
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="United States Senate">
                                United States Senate
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="United States House of Representatives">
                                United States House of Representatives
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="Governor">
                                Governor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="Lieutenant Governor">
                                Lieutenant Governor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="State Senate">
                                State Senate
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rep_level" ng-model="pendingcause.rep_level" value="State Assembly">
                                State Assembly
                            </label>
                        </div>
                    </div>

                    <!-- fixed -->
                    <div ng-if="pendingcause.fixed" id="fixed_recipient" class=" form-horizontal">

                        <div class="form-group">
                            <label for="rep_fixed_name" class="col-sm-4 control-label">Name of Recipient</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_name" ng-model="pendingcause.fixed_name" id="rep_fixed_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rep_rep_level" class="col-sm-4 control-label">Position</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_position" ng-model="pendingcause.rep_level" id="rep_rep_level">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rep_fixed_address" class="col-sm-4 control-label">Street Address</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_address" ng-model="pendingcause.fixed_address" id="rep_fixed_address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rep_fixed_city" class="col-sm-4 control-label">City</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_city" ng-model="pendingcause.fixed_city" id="rep_fixed_city">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rep_state" class="col-sm-4 control-label">State</label>
                            <div class="col-sm-4">
                                <select id="statecauseadd" name="fixed_state" class="form-control" ng-options='state for state in states' ng-model='pendingcause.fixed_state'>
                                    <option value='' selected disabled>Choose a State</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="rep_fixed_zipcode" class="col-sm-4 control-label">Zipcode</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fixed_zipcode" ng-model="pendingcause.fixed_zipcode" id="rep_fixed_zipcode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div><br>

        <div class="letter content">
            <h3 class="text-center">Letter Content</h3>
            <textarea  ui-tinymce="tinymceOptions" name="string" class="lettertext" ng-model="pendingcause.letter_body" required></textarea>
        </div>

        <div class="letter content">
            <h3 class="text-center">Footnotes</h3>
            <textarea name="string" class="footnotetext" ng-model="pendingcause.letter_footnote"></textarea>
        </div><br>

        <input type="submit" ng-click="volunteer(loggedUser.id)" class="btn btn-success analytics" id="new_cause" name="new_cause" value="Submit Custom Letter"></input>
        <br><br><br>
    </form>
</div>
