<div class="container">
    <div class="row banner">
        <div class="col-md-12">
            <img src="/assets/pigsbanner.jpg" alt="pigs banner" />
        </div>
    </div>

    <div class="row writealetter">
        <div class="col-md-12">
            <h2>Write Your Letter</h2>
            <div class="col-md-8 no_left_padding">
                Lorem ipsum dolor sit amet, sit eu ridiculus elit, ultricies et nascetur suscipit aliquam aliquam, venenatis neque felis id lacus. Massa quam mauris luctus felis, ante vestibulum, nec lobortis erat in donec, aliquet suspendisse neque felis id lacus. Massa quam mauris luctus felis, ante vestibulum, nec lobortis erat in donec, aliquet suspendisse neque felis id lacus. Massa quam mauris luctus felis, ante vestibulum, nec lobortis erat in donec, aliquet suspendisse.
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="row writealetter">
        <div class="col-md-12">
            <h2>Step 1: Find Your Representative’s Address</h2>
            <div class="col-md-8 no_left_padding">
                Look up your representative by entering your location below and clicking the link to their government website – their full address should be available there.
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="row writealetter">
        <div class="col-md-12">
            <!-- <h2>Step 1: Find Your Representative’s Address</h2> -->
            <div class="col-md-8 no_left_padding ">
                <form class="form-inline letter_form_address">
                    <div class="form-group">
                        <label for="user_address">Address: </label>
                        <input type="text" class="form-control" id="user_address">
                    </div>
                    <button type="submit" class="find_button">Find</button>

                    <p class="congress_example"><i>ex: 1600 Pennsylvania Ave, Washington, DC 20500 </i></p>
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

    <div class="row writealetter">
        <div class="col-md-12">
            <div class="col-md-8 no_left_padding">
                Alternatively, you can visit <a href="https://www.opencongress.org/people/zipcodelookup" target="_blank">OpenCongress.org</a> and find your representative’s address simply by entering your zip code!
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="row writealetter">
        <div class="col-md-12">
            <h2>Step 2: Give Us Some Information</h2>
            <div class="col-md-8 no_left_padding">
                <form class="form-horizontal">
                </form>

            </div>
            <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
