<div class="container" ng-controller='letterDisplayController'>
    <div class="row banner">
        <div class="col-md-12">
            <img src="/assets/pigsbanner.jpg" alt="pigs banner" />
        </div>
    </div>
    
    <select id="causeSelect" ng-options='cause.name for cause in causes' ng-model='selCause'>
        <option value='' selected disabled>Choose a Cause</option>
    </select>

    <div>
        Selected Cause Info: <br>
        {{ selCause }}<br><br>

        Cause Description: {{ selCause.description }}<br>
        Cause Letter Body: {{ selCause.letter_body }}<br>
        Cause Rep. Level: {{ selCause.rep_level }}<br>
    </div>

    <br><br><br>

    <div ng-show='loggedIn'>
        <b>Logged in user info:</b><br>
        First Name: {{ loggedUser.first_name }}<br>
        Last Name: {{ loggedUser.last_name }}<br>
        Address: {{ loggedUser.street_address }}, {{ loggedUser.city }} {{ loggedUser.state }}, {{ loggedUser.zipcode }}<br><br>
        <hr>
        <br><br>
    </div>

    <div ng-show='!loggedIn'>
        <b>Guest Info:</b>
        <form class="form-horizontal">
            <!-- First & Last Name Error Messages -->
            <!-- First & Last Name Input Fields -->
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="first-name" placeholder="First Name" ng-model="user.firstName">
                    <span class="regErrors" ng-bind="regErrors.firstName"></span>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="last-name" placeholder="Last Name" ng-model="user.lastName">
                    <span class="regErrors" ng-bind="regErrors.lastName"></span>
                </div>
            </div>

              <!-- Address -->
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="street-address" placeholder="Street Address" ng-model="addr" ng-change="registerAddress()">
                    <span class="regErrors" ng-bind="regErrors.address"></span>
                </div>
            </div>
            <!-- City && State-->
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="city" placeholder="City" ng-model="city" ng-change="registerAddress()">
                    <span class="regErrors" ng-bind="regErrors.city"></span>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="state" placeholder="State" ng-model="state" ng-change="registerAddress()">
                    <span class="regErrors" ng-bind="regErrors.state"></span>
                </div>
            </div>
            <!-- Zip -->
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="zip-code" placeholder="Zip Code" ng-model="zip" ng-change="registerAddress()">
                    <span class="regErrors" ng-bind="regErrors.zip"></span>
               </div>
            </div>
            <!-- For Selecting Correct Location -->
            <div class="row">
                <div class="col-md-12">
                    <div id="choices">
                        <label style='display: block;' ng-repeat='choice in choices track by $index'>
                            <input type="radio" name="address" ng-model="address.choice" ng-value="choice" ng-click="formatAddr()" required> {{ choice }}
                        </label>
                        <span class="regErrors" ng-bind="regErrors.confirmAddr"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <br><br><br>

</div>
