/*HEADER- Basic CSS*/

body{
  font-family:"Open Sans", Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  padding-top:0px !important;
}

#main-header{
  width:100%;
  margin: 0px auto;
  background:#ffffff;
  font-weight:500;
  position:fixed;
  z-index: 999;
  display:inline-block;
  border-bottom: solid 1.5px rgba(180, 179, 182, 0.5);
  transition:background-color 0.4s, color 0.4s, transform 0s, opacity 0s ease-in-out;
  font-weight: 600;
}

.right-header #navbar li a{
    cursor: pointer;
}
#container{
  width:90%;
  margin: 0px auto;
}

.left-header{
  display: inline-block;
  padding:3%;
}

#menu{
  padding:2%;
  width:30%;
  display:inline-block;
  transition:all 0s ease-in-out;
  margin-top:3%;
}

#menu{
  display:inline-block;
  width:63%;
  padding:2%;
  vertical-align: top;
  float:right;
}

.right-header > ul >li{
  display:inline-block;
  padding-right:2%;
  font-size: 1.1em;
}

#menu{
  display:inline-block;
}

#navbar > li > a{
    text-decoration: none;
    line-height:100%;
    color:rgba(68, 68, 68, 0.89);
}


#mobile-nav{
  display:none;
}
#navbar > li:nth-child(10) > a > img{
  vertical-align: bottom;
}

#navbar > li.social{
  padding-right:0px;
}
/*HEADER Animations & Fixed Toolbar resizing on scroll*/
#navbar > li > a:hover{
  color: rgba(68, 68, 68, 0.60);
}

.activemenu {
     background-color: none !important;
     color: rgb(35,161,245) !important;
}

.fixed {
    position:fixed !important;
    top:0;
		width:100%;
    height: 70px !important;
		z-index: 99;
    padding-bottom: 0px;
    margin-top:0px;
    border-bottom: none;
}

.reduce{
  padding-top:1% !important;
  margin:0px !important;
  padding-bottom:1% !important;
  z-index: 1015;
}

.reducemenu{
  padding-top:1% !important;
  margin:1% !important;
  padding-bottom:1% !important;
  z-index: 1015;
}

#buttonnav{
  margin-top: 20px;
  height:30px;
  border:none;
  background:white;
}


/* HEADER Responsive Design*/
@media (max-width: 1167px) {
  #navbar > li > a{
    padding-left:0px;
    font-size:.90em;
  }

  #menu{
    padding-left:0px;
    padding-right:0px;
    width: 60%;
    float:right;
  }
}

@media (max-width: 1060px) {
  #menu{
    padding-left:2%;
    margin-top:4.5%;
    padding-right:0px;
    width: 65%;
    font-weight:500;
    font-size: 1em;
  }

  .left-header{
    margin-top:1% !important;
    width: 300px;
    padding-right:5%;
  }

  #navbar{
    padding-left:0px;
  }
}

@media (max-width: 970px) {
  #main-header{
    height: 70px !important;
  }

  #logo{
    width:150px;
  }

  #navbar > li > a{
    padding-left:0px;
    font-size:.75em;
  }

  #container > div.left-header{
    width: 150px !important;
    padding-right: 0px;
    padding-top:5px !important;
  }

  #container > div.left-header.reduce{
    width: 200px !important;
    padding-right: 0px;
    padding-top:5px !important;
  }

  #menu{
    padding-left:1%;
    padding-right:0px;
    padding-bottom:0px;
    width:70%;
    margin-top:.5%;
    float:right;
  }

  .left-header{
    width:200px !important;
  }

  #top-footer p{
    font-size:.80em;
  }

}

@media (max-width: 760px){

  #main-header{
    height: 70px !important;
  }

  #mobile-nav{
     display: inline-block;
     float:right;
     height:100%;
     vertical-align: middle;
     z-index: 999;
  }

  #mobile-nav > div.responsive-menu > ul{
    width:100px;
    z-index: 1015 !important;
  }

  #mobile-nav li {
      display:block;
      float:left;
      list-style:none;
      font-size:1em;
      padding-right:1%;
  }


  #mobile-nav ul{
    width: 90px;
    padding-left:0px;
  }

  #mobile-nav > div.responsive-menu > ul > li > a{
      text-decoration: none;
      display: block;
      padding:2%;
      width:150px;
    }


  #mobile-nav a {
      text-shadow:0px 1px 0px rgba(0,0,0,0.5);
      color:#777;
      transition:color linear 0.15s;
      font-size: .85em;
  }

  #mobile-nav a:hover, #mobile-nav.current-item a {
      text-decoration:none;
      color:white;
  }

    #menu{
      display:none;
    }


    #menu-btn div {
       float:right;
       position: absolute;
       padding-right: 8px;
       font-size: 18px;
       font-weight: 200;
       z-index: 99;
    }

    #menu-btn span {
       display: block;
       width: 19px;
       height: 3px;
       margin: 4px 0;
       background: rgb(0,0,0);
       z-index: 99;
    }

    .responsive-menu{
      position:fixed;
      right: 5%;
      display: inline-block;
      background:black;
      border:solid 1px silver;
      border-radius: 15px;
      width: 150px;
      padding-bottom: 20px;
      text-align: center;
      z-index: 1015 !important;
    }

    .responsive-menu li{
      display: inline-block;
    }

    .submenu { z-index: 1; }

}

@media (max-width: 500px) {
  #top-footer p{
    font-size:.50em;
    line-height: 15px;
  }

  #column-footer{
    padding-left:3%;
  }

  #top-footer h2{
    font-size:.80em;
  }

}

@media (max-width: 600px){
  #top-footer p{
    font-size:.50em;
    line-height: 10px;
  }

  #logo{
    padding-top:5px;
  }

  #column-footer{
    padding-left:3%;
  }

  #top-footer h2{
    font-size:.80em !important;
  }

}


/*FOOTER BASIC CSS*/

#top-footer{
  display:inline-block;
  background: rgb(34,34,34);
  color:white;
  height:60%;
  font-size:.95em;
  width:100%;
  padding-bottom: 1%;
  margin-top:5%;
}

#top-footer h2{
  font-weight:bold;
  font-size: 1.5em;
}

.column-footer{
  display:inline-block;
  width:25%;
  padding-left:5%;
  padding-top:3%;
  vertical-align: top;
  height:50%;
  margin-left:5%;
}

.column-footer a{
  color:skyblue;
  text-decoration: none;
}

#bottom-footer{
  height:40px;
  background:rgb(23,23,23);
}
