@page{
    margin: 0;
}

body{
    padding: 0px 50px;
}

@media all {
	.page-break	{
        display: none;
    }
}

@media print {
	.page-break	{
        display: block;
        page-break-before: always;
        margin-top: 75px;
        margin-bottom: : 75px;
        border: 2px solid black;
        page-break-before: auto;
    }
    p:empty, p:blank {
        display: none;
    }
}
