<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Email Sent</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                Email sent! Please check your email's inbox or spam for instructions on resetting your password.
                If you have not received the email within a few hours, please re-submit the reset password form.
            </div>
        </div>
    </div>
</div>
